* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
}

.box {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px;
    width: 100%;
}

.box h1 {
    padding-top: 20px;
    padding-left: 20px;
}

.box .nav-paragraph {
    display: flex;
    justify-content: left;
    padding-left: 25px;
}

.box ul {
    list-style-type: none;
}

.box li {
    padding-top: 25px;
    padding-left: 25px;
}

.box p {
    line-height: 2;
    padding-top: 40px;
    padding-right: 30px;
    display: flex;
    justify-content: right;
}

.box .contact {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.slides-list {
    /*remove os estilos da lista*/
    list-style-type: none;
    margin: 10px 0;
    padding: 0;

    /* 
      deixa todos os itens da lista
      na horizontal e todos com a
      mesma largura
    */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.slides-list {

    width: 400%;

}

.slides-list {
    --total-items: 3;

    width: calc(var(--total-items) * 100%);

}

.slide-show {
    overflow: hidden;
}

.slides-list {

    position: relative;
    left: 0%;

}

.slides-list {
    --selected-item: 0;

    position: relative;
    left: calc(var(--selected-item) * -100%);

}

.slide-controller:nth-child(1):checked~.slide-show .slides-list {
    --selected-item: 0;
}

.slide-controller:nth-child(2):checked~.slide-show .slides-list {
    --selected-item: 1;
}

.slide-controller:nth-child(3):checked~.slide-show .slides-list {
    --selected-item: 2;
}

.slide-controller:nth-child(4):checked~.slide-show .slides-list {
    --selected-item: 3;
}

.slide-controller:nth-child(5):checked~.slide-show .slides-list {
    --selected-item: 4;
}

.slides-list {

    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265);

}

.slides-list img {
    height: 100%;
    width: 100%;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content p {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .paragraph {
    justify-content: center;
    align-items: center;
}